body {
    display: flex;
    flex-wrap: wrap;
}

.board .center {
    position: relative;
}

rolling-dice {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.players li {
    height: 50px;
    width: 200px;
    background-image: url("../img/wood.jpg");
    background-size: auto 100%;
    cursor: pointer;
    padding: 5px;
    border: solid 2px black;
}

.players li:hover {
    background-image: url("../img/wood_dark.jpg");
}

.players li.turn {
    border-width: 2px 4px;
    border-color: yellow;
}

.players li.me {
    border-width: 4px 4px;
}

.players li > * {
    display: inline-block;
}

.players li img {
    height: 100%;
}